[submodule "ome-ansible-molecule-dependencies"]
	path = ome-ansible-molecule-dependencies
	url = https://github.com/openmicroscopy/ome-ansible-molecule-dependencies
[submodule "ansible-role-debug-dumpallvars"]
	path = ansible-role-debug-dumpallvars
	url = https://github.com/openmicroscopy/ansible-role-debug-dumpallvars
[submodule "ansible-role-munin"]
	path = ansible-role-munin
	url = https://github.com/openmicroscopy/ansible-role-munin
[submodule "ansible-role-munin-node"]
	path = ansible-role-munin-node
	url = https://github.com/openmicroscopy/ansible-role-munin-node
[submodule "ansible-role-haproxy"]
	path = ansible-role-haproxy
	url = https://github.com/openmicroscopy/ansible-role-haproxy
[submodule "ansible-role-basedeps"]
	path = ansible-role-basedeps
	url = https://github.com/openmicroscopy/ansible-role-basedeps
[submodule "ansible-role-java"]
	path = ansible-role-java
	url = https://github.com/openmicroscopy/ansible-role-java
[submodule "ansible-role-cli-utils"]
	path = ansible-role-cli-utils
	url = https://github.com/openmicroscopy/ansible-role-cli-utils
[submodule "ansible-role-docker"]
	path = ansible-role-docker
	url = https://github.com/openmicroscopy/ansible-role-docker
[submodule "ansible-role-docker-tools"]
	path = ansible-role-docker-tools
	url = https://github.com/openmicroscopy/ansible-role-docker-tools
[submodule "ansible-role-ice"]
	path = ansible-role-ice
	url = https://github.com/openmicroscopy/ansible-role-ice
[submodule "ansible-role-jekyll-build"]
	path = ansible-role-jekyll-build
	url = https://github.com/openmicroscopy/ansible-role-jekyll-build
[submodule "ansible-role-local-accounts"]
	path = ansible-role-local-accounts
	url = https://github.com/openmicroscopy/ansible-role-local-accounts
[submodule "ansible-role-logrotate"]
	path = ansible-role-logrotate
	url = https://github.com/openmicroscopy/ansible-role-logrotate
[submodule "ansible-role-lvm-partition"]
	path = ansible-role-lvm-partition
	url = https://github.com/openmicroscopy/ansible-role-lvm-partition
[submodule "ansible-role-nginx"]
	path = ansible-role-nginx
	url = https://github.com/openmicroscopy/ansible-role-nginx
[submodule "ansible-role-nginx-proxy"]
	path = ansible-role-nginx-proxy
	url = https://github.com/openmicroscopy/ansible-role-nginx-proxy
[submodule "ansible-role-nginx-ssl-selfsigned"]
	path = ansible-role-nginx-ssl-selfsigned
	url = https://github.com/openmicroscopy/ansible-role-nginx-ssl-selfsigned
[submodule "ansible-role-omero-python-deps"]
	path = ansible-role-omero-python-deps
	url = https://github.com/openmicroscopy/ansible-role-omero-python-deps
[submodule "ansible-role-omero-server"]
	path = ansible-role-omero-server
	url = https://github.com/openmicroscopy/ansible-role-omero-server
[submodule "ansible-role-omero-web-runtime"]
	path = ansible-role-omero-web-runtime
	url = https://github.com/openmicroscopy/ansible-role-omero-web-runtime
[submodule "ansible-role-postgresql"]
	path = ansible-role-postgresql
	url = https://github.com/openmicroscopy/ansible-role-postgresql
[submodule "ansible-role-redis"]
	path = ansible-role-redis
	url = https://github.com/openmicroscopy/ansible-role-redis
[submodule "ansible-role-selinux-utils"]
	path = ansible-role-selinux-utils
	url = https://github.com/openmicroscopy/ansible-role-selinux-utils
[submodule "ansible-role-versioncontrol-utils"]
	path = ansible-role-versioncontrol-utils
	url = https://github.com/openmicroscopy/ansible-role-versioncontrol-utils
[submodule "ansible-role-system-monitor-agent"]
	path = ansible-role-system-monitor-agent
	url = https://github.com/openmicroscopy/ansible-role-system-monitor-agent
[submodule "ansible-role-analysis-tools"]
	path = ansible-role-analysis-tools
	url = https://github.com/openmicroscopy/ansible-role-analysis-tools
[submodule "ansible-role-network-cloud-interfaces"]
	path = ansible-role-network-cloud-interfaces
	url = https://github.com/openmicroscopy/ansible-role-network-cloud-interfaces
[submodule "ansible-role-nfs-mount"]
	path = ansible-role-nfs-mount
	url = https://github.com/openmicroscopy/ansible-role-nfs-mount
[submodule "ansible-role-nfs-share"]
	path = ansible-role-nfs-share
	url = https://github.com/openmicroscopy/ansible-role-nfs-share
[submodule "ansible-role-omero-logmonitor"]
	path = ansible-role-omero-logmonitor
	url = https://github.com/openmicroscopy/ansible-role-omero-logmonitor
[submodule "ansible-role-openstack-volume-storage"]
	path = ansible-role-openstack-volume-storage
	url = https://github.com/openmicroscopy/ansible-role-openstack-volume-storage
[submodule "ansible-role-python-pydata"]
	path = ansible-role-python-pydata
	url = https://github.com/openmicroscopy/ansible-role-python-pydata
[submodule "ansible-role-samba-client"]
	path = ansible-role-samba-client
	url = https://github.com/openmicroscopy/ansible-role-samba-client
[submodule "ansible-role-storage-volume-initialise"]
	path = ansible-role-storage-volume-initialise
	url = https://github.com/openmicroscopy/ansible-role-storage-volume-initialise
[submodule "ansible-role-sudoers"]
	path = ansible-role-sudoers
	url = https://github.com/openmicroscopy/ansible-role-sudoers
[submodule "ansible-role-upgrade-distpackages"]
	path = ansible-role-upgrade-distpackages
	url = https://github.com/openmicroscopy/ansible-role-upgrade-distpackages
[submodule "ansible-role-hosts-populate"]
	path = ansible-role-hosts-populate
	url = https://github.com/openmicroscopy/ansible-role-hosts-populate
[submodule "ansible-role-omero-user"]
	path = ansible-role-omero-user
	url = https://github.com/openmicroscopy/ansible-role-omero-user
[submodule "ansible-role-omero-web-apps"]
	path = ansible-role-omero-web-apps
	url = https://github.com/openmicroscopy/ansible-role-omero-web-apps
[submodule "ansible-role-reboot-server"]
	path = ansible-role-reboot-server
	url = https://github.com/openmicroscopy/ansible-role-reboot-server
[submodule "ansible-role-rsync-server"]
	path = ansible-role-rsync-server
	url = https://github.com/openmicroscopy/ansible-role-rsync-server
[submodule "ansible-role-devspace"]
	path = ansible-role-devspace
	url = https://github.com/openmicroscopy/ansible-role-devspace
[submodule "ansible-role-mysql-backup"]
	path = ansible-role-mysql-backup
	url = https://github.com/openmicroscopy/ansible-role-mysql-backup
[submodule "ansible-role-prometheus"]
	path = ansible-role-prometheus
	url = https://github.com/openmicroscopy/ansible-role-prometheus
[submodule "ansible-role-celery-docker"]
	path = ansible-role-celery-docker
	url = https://github.com/openmicroscopy/ansible-role-celery-docker
[submodule "ansible-role-omero-common"]
	path = ansible-role-omero-common
	url = https://github.com/openmicroscopy/ansible-role-omero-common
[submodule "ansible-role-omego"]
	path = ansible-role-omego
	url = https://github.com/openmicroscopy/ansible-role-omego
[submodule "ansible-role-omero-web"]
	path = ansible-role-omero-web
	url = https://github.com/openmicroscopy/ansible-role-omero-web
[submodule "ansible-role-cadvisor"]
	path = ansible-role-cadvisor
	url = https://github.com/openmicroscopy/ansible-role-cadvisor
[submodule "ansible-role-prometheus-node"]
	path = ansible-role-prometheus-node
	url = https://github.com/openmicroscopy/ansible-role-prometheus-node
[submodule "ansible-role-network"]
	path = ansible-role-network
	url = https://github.com/openmicroscopy/ansible-role-network
[submodule "ansible-role-ssl-certificate"]
	path = ansible-role-ssl-certificate
	url = https://github.com/openmicroscopy/ansible-role-ssl-certificate
[submodule "ansible-role-fluentd"]
	path = ansible-role-fluentd
	url = https://github.com/openmicroscopy/ansible-role-fluentd
[submodule "ansible-role-prometheus-postgres"]
	path = ansible-role-prometheus-postgres
	url = https://github.com/openmicroscopy/ansible-role-prometheus-postgres
[submodule "infrastructure-extract-ansible-role"]
	path = infrastructure-extract-ansible-role
	url = https://github.com/openmicroscopy/infrastructure-extract-ansible-role
[submodule "ansible-role-prometheus-jmx"]
	path = ansible-role-prometheus-jmx
	url = https://github.com/openmicroscopy/ansible-role-prometheus-jmx
[submodule "ansible-role-anonymous-ftp"]
	path = ansible-role-anonymous-ftp
	url = https://github.com/openmicroscopy/ansible-role-anonymous-ftp
[submodule "ansible-role-docker-slack-notifier"]
	path = ansible-role-docker-slack-notifier
	url = https://github.com/openmicroscopy/ansible-role-docker-slack-notifier
[submodule "ansible-role-python-virtualenv-upstream"]
	path = ansible-role-python-virtualenv-upstream
	url = https://github.com/openmicroscopy/ansible-role-python-virtualenv-upstream
[submodule "ansible-role-iptables-raw"]
	path = ansible-role-iptables-raw
	url = https://github.com/openmicroscopy/ansible-role-iptables-raw
[submodule "ansible-role-omero-prometheus-exporter"]
	path = ansible-role-omero-prometheus-exporter
	url = https://github.com/openmicroscopy/ansible-role-omero-prometheus-exporter
[submodule "ansible-role-omero-web-django-prometheus"]
	path = ansible-role-omero-web-django-prometheus
	url = https://github.com/openmicroscopy/ansible-role-omero-web-django-prometheus
[submodule "ansible-role-deploy-archive"]
	path = ansible-role-deploy-archive
	url = https://github.com/openmicroscopy/ansible-role-deploy-archive
